router id {{ loopback_ip }};

protocol device {}
protocol direct {}

protocol kernel {
    persist;
    scan time 20 s;
}

protocol bfd {
    interface "wg*" {
        min rx interval 300 ms;
        min tx interval 300 ms;
        multiplier 3;
    };
}

protocol ospf v2 {
    area 0 {
        interface "wg*" {
            type pointopoint;
            hello 1 s;
            dead 4 s;
        };
    };
}

{% for peer in bgp_peers %}
protocol bgp {{ peer }} {
    local as {{ bgp_as }};
    neighbor {{ hostvars[peer].loopback_ip }} as {{ bgp_as }};
    source address {{ loopback_ip }};
    multihop;
    bfd yes;
}
{% endfor %}
